.container-card {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 8px;
    justify-content: space-between;
  }
  
  /* Additional styles for mobile mode */
  .mobile-mode {
    flex-direction: column;
  }
  
  .container-text-link {
    display: flex;
    justify-content: space-around;
    gap: 8px;
  }
  
  .container-text {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  
  .container-text h1 {
    margin-top: -1px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: start;
  }
  
  .container-text p {
    margin-top: -1px;
    font-size: 10px;
    font-weight: 500;
    color: white;
    text-align: start;
  }
  
  .container-link {
    display: flex;
    gap: 4px;
    flex-direction: column;
    margin-top: 8px; /* Add margin-top for spacing */
  }
  
  .button-demo,
  .button-code {
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
  }
  
  .button-demo {
    background-color: #FE0740;
    color: white;
  }
  
  .button-code {
    background-color: #0E79BD;
    color: white;
  }
  